[submodule "roles/dotfiles_ansible"]
	path = roles/dotfiles_ansible
	url = https://github.com/Varssos/dotfiles_ansible.git
	branch = master
[submodule "vagrant_for_ansible"]
	path = vagrant_for_ansible
	url = https://github.com/Varssos/vagrant_for_ansible.git
	branch = master
[submodule "roles/nomachine"]
	path = roles/nomachine
	url = https://github.com/Varssos/ansible-role-nomachine.git
[submodule "roles/chrome"]
	path = roles/chrome
	url = https://github.com/Varssos/ansible-role-chrome.git
[submodule "roles/fzf"]
	path = roles/fzf
	url = https://github.com/Varssos/ansible-role-fzf.git
[submodule "roles/grub-customizer"]
	path = roles/grub-customizer
	url = https://github.com/Varssos/ansible-role-grub-customizer.git
[submodule "roles/ubuntu-codename"]
	path = roles/ubuntu-codename
	url = https://github.com/Varssos/ubuntu-codename.git
[submodule "roles/coolercontrol"]
	path = roles/coolercontrol
	url = https://github.com/Varssos/coolercontrol.git
