---
- name : Clone dotfiles repository
  git:
    repo: '{{ dotfiles_repo }}'
    dest: '{{ dotfiles_path }}'
    version: master
    accept_hostkey: yes
  become_user: '{{ username }}'

- name: Setup dotfiles using setup_env.sh
  command: bash -c '{{ dotfiles_path }}/setup_env.sh'
  become_user: '{{ username }}'