---
- name: Update packages
  apt:
    update_cache: yes
    upgrade: yes
  retries: 3
  delay: 10
  register: result
  until: result is success

- name: Install essential packages
  package:
    name: "{{ apt_packages }}"
    state: latest

- name: Install packages with known issues
  package:
    name: "{{ apt_packages_known_issues }}"
    state: latest
  ignore_errors: yes

- name: Install flatpak
  apt:
    name: flatpak
    state: present

- name: Add Flathub repository
  command: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

- name: Install packages with Flatpak
  flatpak:
    name: "{{ flatpak_packages }}"
    state: present
    remote: flathub
