---
- name: Install fzf
  apt:
    name: fzf
    state: present

- name: Find key-bindings.bash
  command: find /usr/share/doc -name key-bindings.bash -print -quit
  register: key_bindings_path

- name: Setup fzf key bindings
  lineinfile:
    # Ansible by default uses /root as HOME when running with sudo
    path: /home/{{ansible_user}}/.bashrc
    line: "source {{ key_bindings_path.stdout }}"
    state: present
    create: yes
  when: key_bindings_path.stdout != ""