---
- include_tasks: essential.yml
- include_tasks: collect_packages.yml

# Custom applications which are more compex to install than apt install
- include_tasks: brave.yml
- include_tasks: chrome.yml
- include_tasks: coolercontrol.yml
  when: "'coolercontrol' not in ansible_facts.packages"
- include_tasks: dotfiles.yml
- include_tasks: fzf.yml
- include_tasks: grub-customizer.yml
- include_tasks: nomachine.yml
  when: "'nomachine' not in ansible_facts.packages"
- include_tasks: signal.yml
  when: "'signal-desktop' not in ansible_facts.packages"
- include_tasks: spotify.yml
  when: "'spotify-client' not in ansible_facts.packages"
- include_tasks: sublime.yml
  when: "'sublime-text' not in ansible_facts.packages"
- include_tasks: tailscale.yml
# Disabled due to missing libvpx7 on Ubuntu 24.04
# - include_tasks: virtualbox.yml
- include_tasks: vscode.yml
  when: "'code' not in ansible_facts.packages"
- include_tasks: wireshark.yml
  when: "'wireshark' not in ansible_facts.packages"
- include_tasks: xdotool.yml
