---
- name: Download and install VirtualBox GPG key
  shell: |
    wget -O- https://www.virtualbox.org/download/oracle_vbox_2016.asc | sudo gpg --yes --output /usr/share/keyrings/oracle-virtualbox-2016.gpg --dearmor

- name: Add VirtualBox apt repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/oracle-virtualbox-2016.gpg] https://download.virtualbox.org/virtualbox/debian {{ ubuntu_codename }} contrib"
    filename: virtualbox
    state: present

- name: Update apt cache and install VirtualBox
  apt:
    name: virtualbox-7.1
    state: present
    update_cache: yes

# To use USB etc
- name: Add user to 'vboxusers' group
  user:
    name: "{{ ansible_user }}"
    groups: vboxusers
    append: yes

# - name: Download and install VirtualBox Extension Pack
#   shell: |
#     wget https://download.virtualbox.org/virtualbox/7.0.14/Oracle_VM_VirtualBox_Extension_Pack-7.0.14.vbox-extpack
#     sudo VBoxManage extpack install Oracle_VM_VirtualBox_Extension_Pack-7.0.14.vbox-extpack
#     rm Oracle_VM_VirtualBox_Extension_Pack-7.0.14.vbox-extpack
#   args:
#     executable: /bin/bash