---
- name: Install Wireshark package
  apt:
    name: wireshark
    state: present

- name: Check if wireshark group exist
  group:
    name: wireshark
    state: present

- name: Add user to Wireshark group (optional, to run Wireshark without root)
  user:
    name: "{{ username }}"
    groups: wireshark
    append: yes

- name: Set capabilities for dumpcap
  command: setcap cap_net_raw,cap_net_admin+eip /usr/bin/dumpcap
  args:
    creates: /usr/bin/dumpcap