---
# Simple idle bot
- name: Create dest directory ~/Documents/games/
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/Documents/games"
    state: directory
    mode: "0775"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Create and fill file idle.sh
  ansible.builtin.copy:
    content: |
      #!/bin/bash

      while true
      do
          xdotool keydown ctrl keydown Down keyup Down keyup ctrl
          sleep 1
          xdotool keydown ctrl keydown Right keyup Right keyup ctrl
          sleep 180
      done
    dest: "/home/{{ ansible_user }}/Documents/games/idle.sh"
- name: Set permission to execute idle.sh
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/Documents/games/idle.sh"
    mode: "+x"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
