apt_packages:
  # basic tools
  - apt-transport-https
  - vim
  - htop
  - screenfetch
  - curl

  # Usefull tools
  - speedtest-cli
  - filezilla
  - meld
  - kdiff3
  - rpi-imager
  - shutter
  - remmina
  - gparted
  - xdotool
  - shellcheck
  - gimp
  - nmap
  - libimage-exiftool-perl
  
  # automotive
  - dlt-viewer

  # more private
  - anki

flatpak_packages:
  - com.brave.Browser
  - com.discordapp.Discord
  - net.werwolv.ImHex


# NoMachine
nomachine_deb_url: "https://www.nomachine.com/free/linux/64/deb"
nomachine_deb_file: "nomachine.deb"
