username: sw

apt_packages:
  # basic tools
  - apt-transport-https
  - vim
  - htop
  - neofetch
  - curl

  # Usefull tools
  - speedtest-cli
  - filezilla
  - meld
  - kdiff3
  - rpi-imager
  - shutter
  - remmina
  - gparted
  - anki
  - xdotool
  - shellcheck
  - gimp
  - nmap
  - libimage-exiftool-perl
  
  # automotive
  - dlt-viewer

flatpak_packages:
  - com.brave.Browser
  - com.discordapp.Discord
  - net.werwolv.ImHex


# NoMachine
nomachine_deb_url: "https://www.nomachine.com/free/linux/64/deb"
nomachine_deb_file: "nomachine.deb"

# Dotfiles
bashrc_repo: https://github.com/Varssos/bashrc.git

tmux_config_repo: https://github.com/Varssos/tmux_config.git
my_files_path: /home/{{ username }}/Documents/my_files
tmux_config_repo_path: "{{ my_files_path }}/linux/tmux_config"

dotfiles_path: /home/{{ username }}/dotfiles
dotfiles_repo: https://github.com/Varssos/dotfiles.git
